public-hoist-pattern[]=@prisma/client
public-hoist-pattern[]=sharp
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=sharp
