public-hoist-pattern[]=@prisma/client
public-hoist-pattern[]=sharp
public-hoist-pattern[]=yauzl-promise
public-hoist-pattern[]=msgpackr-extract
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=sharp
